//320-480, 480-640, 640-960, 960-1200, 1200-max
@import 'null.scss';

$btn-width-height: 26px;
$transition-btns: 500ms;
$main-color: #111111;
$des-color: #C3F500;


@mixin btn-all-tasks ($bg-color-hover: $des-color, $border-color-hover: $des-color, $bg: transparent, $padding: 5px 18px){
    background: $bg;
    border-radius: 30px;
    border: 1px solid $main-color;
    padding: $padding;
    @media (min-width: 1200px) {
    transition: $transition-btns;   
        &:hover {
        background: $bg-color-hover;
        border: 1px solid $border-color-hover;
        transform: translateY(-3px); 
    }
}
}

@mixin btn-elem ($bg, $bg-hov, $width: $btn-width-height, $height: $btn-width-height){
    background: $bg;
    width: $width;
    height:  $height;
    border-radius: 50%;
    @media (min-width: 1200px) {
    transition: $transition-btns;
        &:hover {
        background: $bg-hov; 
        transform: translateY(-3px); 
        }
    }
}


body{
    font-family: 'Prompt', sans-serif;
    background: #fff;
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    color: $main-color;
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container{
    max-width: 1040px;
    padding: 0px 15px;
    margin: 0 auto;
}

.dsp-none{
    display: none;
}





.header{
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    &__top{
        padding-right: 35px;
        display: inline-block;
        position: relative;
    }
    &__title{
        font-weight: 400;
        line-height: 0.85;
        color: $des-color;
        font-size: 50px;
        @media (max-width: 480px){
            font-size: 46px;
        }
    }   
    &__btn-info{
        @include btn-elem (
            url('../src/img/icon-info.svg') 50% 50%/contain no-repeat, 
            url('../src/img/icon-info-hover.svg') 50% 50%/contain no-repeat,
            20px, 
            20px);
        position: absolute;
        right: 0;
        top: 0;
    }
}




.add-task{
    background: $main-color;
    padding: 160px 0px 80px;
    &__title{
        margin-bottom: 20px;
        margin-left: 17px;
        color: #fff;
    }
    &__form{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        @media (max-width: 480px){
            flex-wrap: wrap;
        }
    }
    &__string{
        width: 100%;
        border: 1px solid $des-color;
        padding: 14px 34px;
        display: flex;
        justify-content: space-between;
        border-radius: 30px;
    }
    &__input{
        height: 100%;
        color: #fff;
        background: transparent;
        width: 100%;
        padding-right: 34px;
    }
    &__btn-reset{
        background: transparent;
        white-space: nowrap;
        color: $des-color;
    } 
    &__btn-add{
        @include btn-all-tasks($des-color, none, $des-color, 14px 34px);
        font-weight: 400;
    }
}      



.tasks{
    padding: 60px 0px 120px;
    flex: 1 1 auto;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &__title{
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }
    &__list{
        padding: 30px 0px 20px;
        width: 100%;
    }
    &__item {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 18px;
        border-bottom: 1px solid #C7C7C7;
        @media (min-width: 1200px) {
            &:hover{
            background: #F9F9F9;
            }
        }
    }
    &__item-text{
        overflow: auto;
        max-width: 200px;
    }
    &__item--done{
        color: #d3d3d3;
        text-decoration: line-through;        
    }
    &__item-btns{
        display: flex;
        align-items: center;
    }
    &__btn-done{
        @include btn-elem (
            url('../src/img/icon-done.svg') 50% 50%/contain no-repeat, 
            url('../src/img/icon-done-hover.svg') 50% 50%/contain no-repeat, 
            $btn-width-height, 
            $btn-width-height);
        margin-right: 10px;    
    }

    &__btn-done--active{
        background: url('../src/img/icon-done-hover.svg') 50% 50%/contain no-repeat; 
    }

    &__btn-delete{
        @include btn-elem(
            url('../src/img/icon-del.svg') 50% 50%/contain no-repeat, 
            url('../src/img/icon-del-hover.svg') 50% 50%/contain no-repeat, 
            $btn-width-height, 
            $btn-width-height)   
    }
    &__btn-all-delete{
        @include btn-all-tasks (#FB9957, #FB9957);
        position: absolute;
        right: 18px; 
        bottom: -40px;
    }
    &__btn-done-delete{
        @include btn-all-tasks;
        position: absolute;
        right: 18px; 
        bottom: -80px;
    }        
    &__message{
        margin-top: 20px;
        max-width: 350px;
        img {
            width: 100%;
        }
    }
}



.footer{
    padding: 30px 0px;
    background: $main-color;
    color: #fff;
    font-size: 14px;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
    }
    &__email{
        color: $des-color;
    }
}



.info {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    
    &__window{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 20px;  
    }
    &__content{
        position: relative;
        padding: 80px 30px 60px;
        background: #fff;
        border-radius: 10px;
    }
    &__btn-close{
        @include btn-all-tasks;
        position: absolute;
        right: 20px;
        top: 15px;
    }
    &__title{
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__description{
        margin-bottom: 40px;
        @media (max-width: 480px){
            font-size: 14px;
        }
    }
    &__functions{
        display: flex;
        flex-direction: column;
    }
    &__function-done {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        @media (max-width: 480px){
            font-size: 14px;
        }
    }
    &__finction-done-img {
        max-width: $btn-width-height;
        max-height: $btn-width-height;
        margin-right: 20px;
        img{
            width: 100%;
        }
    }
    &__function-delete {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: 480px){
            font-size: 14px;
        }
    }
    &__finction-delete-img {
        max-width: $btn-width-height;
        max-height: $btn-width-height;
        margin-right: 20px;
        img{
            width: 100%;
        }
    }
}
